{% extends 'base/main.html' %}
{% load static %}
{% block content %}




    <section class="hero">
        <div class="hero--content">
            <div class="hero--content--intro">
                <img src="{% static 'images/haider.jpg'%}" id="profile_pic">
                <h1 class="intro--name">Syed Haider Ali Zaidi</h1>
            </div>
                <div class="hero--content--subheadline">
                    <h3 class="description">Python Developer</h3>
                    <p class="slogan">Build cool projects using python frameworks</p>
                </div>
        </div>

    </section>

    <section class="container section--2">
        <h3>My Projects</h3>
        <h5>Projects that makes my journey worthwhile</h5>
        <div class="projects--wrapper">
            {% for project in projects %}
            <div class="project--column">
                <a href="{% url 'project' project.id %}">
                <img class="project--thumbnail" src="{{ project.thumbnail.url }}">
                </a>
                    <div class="project--body">
                    <h5>{{project.title}}</h5>
                    
                </div>
            </div>
            {% empty %}
            <h3>There are no projects in the Database...</h3>
            {% endfor %}


        </div>

        <div class="about--wrapper">
            <h3>More About Me</h3>
        <p>I'm interested in Machine learning, Artificial Intelligence, and Data Science. I also like to do problem-solving and take different challenges. I'm very curious about product development, and innovation networks.</p>
        <p>Moreover, I also believe in creating a strong community and helping people grow. I really want to encourage more people to come forward and play their part in technology.</p>
        <p>You can usually find my very latest programming interests by following me on instagram account @zaidi.14. </p>
        </div>

    </section>

   <section class="section--1">
    <div class="skills--container">
        <h3>Skills</h3>

        {% for skill in detailedSkills %}
        <div class="skill--wrapper">
            {% if skill.logo %}
            <img class="skill--logo" src="{{skill.logo.url}}">
            {% endif %}
            <div>
                <h5>{{skill.title}}</h5>
                <p>{{skill.body}}</p>
            </div>

        </div>
        {% endfor %}


        <h4>Other Skills</h4>
        <br>
        <div class="other--skills--wrapper">
            {% for skill in skills %}
            <div class="skill--tag">
                <span>{{skill.title}}</span>
            </div>
            {% endfor %}

        </div>
    </div>


</section>


<section class="section--2">
    <div class="container">
        <form class="contact--form" method="POST">
            {% csrf_token %}
             {% for field in form %}

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
                {{field}}
            </div>

            {% endfor %}
            <input class="btn btn-primary" type="submit" value="submit">
        </form>

    </div>
</section>

{% endblock content %}


<section class="section--3">
        <h3>Contact</h3>

        <div class="contact--wrapper">

            <img class="linkedin--logo" src="{{skill.logo.url}}">
            <h5>LinkedIn</h5>
            <img class="Github--logo" src="{{skill.logo.url}}">
            <h5>Github</h5>
            </div>
</section>
