<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    <title>Syed Haider Ali Zaidi</title>
</head>
<body>
{% include 'base/navbar.html' %}
{% if messages %}

    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% endif %}

{% block content %}

{% endblock content %}

</body>
</html>